<table class="overall_header">
  <tr>
    <td>
      <div class="welcome_msg">
        Welcome, <%= @user %> !
      </div>
    </td>
    <td>
      <div class="toolbar">
        <%= link_to 'Signup', '/signup' %>
        <%= link_to 'Login', '/login' %>
      </div>
    </td>
  </tr>
</table>
