<!DOCTYPE html>
<html>
<head>
  <title>Tools</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="overall_header">Welcome to my cool test app !</div>
  <div class="main_contents">

<%= yield %>

  </div>
</body>
</html>
